---
layout: servicios
---
<section class="wrapper two_columns">
  <article class="flow ">
    <div class="highlighted-title">
      <h2>Por esto somos la mejor opción<br>
        para llevar las redes sociales<br>
        de tu empresa</h2>
    </div>
    <div class="numbered-section">
      <div class="content">
        <h3>Vamos más allá de los posts bonitos</h3>
        <p>El solo hecho de tener redes sociales no hará que aumentes las ventas.</p>
        <p>Por eso te ayudaremos entender dónde está el verdadero negocio con las redes para que seas tú mismo el que
          tome las decisiones.</p>
      </div>
      <div class="background-number">1</div>
    </div>

    <div class="numbered-section">
      <div class="content">
        <h3>No creamos nada raro</h3>
        <p>La mayoría de la gente que hace “marketing” se complica demasiado.</p>
        <p>Aquí no nos inventaremos fórmulas mágicas.</p>
        <p>Entre más sencillo y efectivo mejor.</p>

      </div>
      <div class="background-number">2</div>
    </div>

    <div class="numbered-section">
      <div class="content">
        <h3>Damos resultados reales</h3>
        <p>Nos gusta lo sencillo, pero nos gusta más lo que de verdad funciona.</p>
        <p>Trabajaremos con estrategias realistas que te harán ver resultados desde el principio.</p>
        <p>Nada de vender humos (no es nuestro estilo)...</p>

      </div>
      <div class="background-number">3</div>
    </div>

  </article>
  <div>
    <img src="{{ 'img/marketing-digital-since.avif' | relative_url }}" width="600" height="400"
      alt="Social Media Management" loading="lazy" />
  </div>
</section>

<section class="wrapper highlight-card">
  <div class="card-content">
    <div class="logo-rating">
      <img src="{{ 'img/since-icon.avif' | relative_url }}" width="48" height="48" alt="Since icon">
      <div class="stars">★★★★★</div>
    </div>

    <h3>Agencia de Marketing Digital Since</h3>

    <p>Más de 7 años haciendo publicidad no convencional y demostrando que los "gurús" del marketing son los que menos
      saben de marketing.</p>

  </div>
  <img src="{{ 'img/team-since-marketin-digital.avif' | relative_url }}" width="300" height="248" alt="Since team"
    class="team-img">
</section>

<section class="space-services">
  <div class="wrapper services">
    <div class="text-left highlighted-title">
      <h2>Así es como Since Agencia de Marketing Digital ayuda a crecer a los empresarios en latinoamérica
      </h2>
      <p>Creemos que el marketing que realmente funciona se basa en esta simple fórmula:</p>
      <p> <b>Un buen producto/servicio + nicho específico + estrategia clara = Negocio exitoso</b> </p>
      <p>Eso es precisamente lo que te ayudaremos a conseguir aquí en Since</p>
    </div>

    <div class="hover">
      <h3>Para administrar tus redes sociales</h3>
      <p>Podrás destacar sobre tu competencia y retener la atención de tu audiencia por más tiempo. </p>
      <p>(Convertiremos a esa audiencia en más ventas).</p>
      <a href="#" class="service-link">Ver más</a>
    </div>
    <div class="text-left flow">
      <div class="hover">
        <h3>Para desarrollar tu web</h3>
        <p>Nos aseguraremos que tu página web persuada tanto a tu posible cliente que no pueda evitar comprarte.</p>
        <a href="#" class="service-link">Ver más</a>
      </div>

      <div class="hover">
        <h3>Para hacer SEO</h3>
        <p>También hay que hablarle bonito a Google...</p>
        <p>Posicionaremos tu web en el top para que <b>siempre te encuentren</b> a ti primero.</p>
        <a href="#" class="service-link">Ver más</a>
      </div>

      <div class="hover">
        <h3>Para hacer publicidad digital</h3>
        <p>Nos encargaremos de que las campañas estén bien hechas y que <b>cumplan el objetivo</b></p>
        <p>(Vender, otra vez)</p>
        <a href="#" class="service-link">Ver más</a>
      </div>
    </div>
    <div class="hover">
      <h3>Para encargarnos del diseño grafico</h3>
      <p>Sabemos que quieres tener también una marca bonita.</p>
      <p>Por eso haremos diseños que vayan de acuerdo a lo que haces y a tu personalidad.</p>
      <a href="#" class="service-link">Ver más</a>
    </div>
  </div>

</section>

<section class="wrapper slider">
  <img src="{{ '/img/slider.avif' | relative_url }}" alt="slider" width="1320" height="120">
</section>

<section class="wrapper two_columns  ">
  <div class=" highlighted-title flow">
    <h2>La Agencia de Marketing Digital Since trabaja de la mano de los mejores</h2>
    <img src="img/since-logo.avif" alt="" width="320" height="100">
    <p>¿Quieres invertir en marketing?</p>
    <p>Muy inteligente.</p>
    <p>Pero también sabemos que <span class="highlight">buscas resultados</span> </p>

    {% include button.html text= "Clic y empecemos" %}
  </div>
  <div>
    <img src="{{ 'img/herramientas-marquting-digital-since.avif' | relative_url }}" width="600" height="418"
      alt="Since icon">
  </div>
</section>

<section class="wrapper highlight-card">
  <div class="card-content">
    <div class="logo-rating">
      <img src="{{ 'img/since-icon.avif' | relative_url }}" width="48" height="48" alt="Since icon">
      <div class="stars">★★★★★</div>
    </div>

    <h3>Agencia de Marketing Digital Since</h3>

    <p>Más de 10 años concentrándonos en un tipo publicidad que enamora a los usuarios y aumenta las ventas de nuestros
      clientes.</p>

  </div>
  <img src="{{ 'img/team-since-marketin-digital.avif' | relative_url }}" width="300" height="248" alt="Since team"
    class="team-img">
</section>

{% include formulario.html %}