<footer class="wrapper">
  <ul class="">
    <li><a href="#">Servicios</a></li>
    <li><a href="#">Contacto</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Nosotros</a></li>
    <li><a href="#">Privacidad</a></li>
    <li><a href="#">Condiciones</a></li>
  </ul>

  <div>
    <img src="{{ 'img/facebook-since.avif' | relative_url }}" width="40" height="40" alt="Meta" class="team-img">
    <img src="{{ 'img/instagram-since.avif' | relative_url }}" width="40" height="40" alt="Meta" class="team-img">
    <img src="{{ 'img/tiktok-since.avif' | relative_url }}" width="40" height="40" alt="Meta" class="team-img">
    <img src="{{ 'img/whatssapp-since.avif' | relative_url }}" width="40" height="40" alt="Meta" class="team-img">
    <img src="{{ 'img/linkeding-de-since.avif' | relative_url }}" width="40" height="40" alt="Meta" class="team-img">
  </div>
</footer>
<section class="footer">
  <img src="{{ 'img/footer.avif' | relative_url }}" width="1922" height="2131" alt="Meta" class="team-img">
  <div class="wrapper text_center">
    <small>© agenciasincemarketing.com 2025 Todos los derechos reservados</small>
    <small>Web puesta en órbita por juli.com.co</small>
  </div>
</section>