<form action="{{ site.form_endpoint }}" method="POST" style="max-width: 400px; width: 100%;">
  <div style="display: grid; gap: 1rem;">
    <input 
      type="text" 
      name="nombre" 
      placeholder="Nombre"
      required
      style="
        width: 100%;
        padding: 1rem;
        background-color: transparent;
        border-radius: var(--radius-sm);
        border: 1px solid var(--color-primary);
        color: var(--text-primary);
      "
    >
    
    <input 
      type="email" 
      name="correo"
      placeholder="Correo"
      required
      style="
        width: 100%;
        padding: 1rem;
        border-radius: var(--radius-sm);
        border: 1px solid var(--color-primary);
        color: var(--text-primary);
        background-color: transparent;

      "
    >
    
    <input 
      type="tel" 
      name="celular"
      placeholder="Celular"
      required
      style="
        width: 100%;
        padding: 1rem;
        border-radius: var(--radius-sm);
        border: 1px solid var(--color-primary);
        color: var(--text-primary);
        background-color: transparent;

      "
    >
    
    <textarea 
      name="asunto"
      placeholder="Asunto"
      rows="4"
      required
      style="
        width: 100%;
        padding: 1rem;
        border-radius: var(--radius-sm);
        border: 1px solid var(--color-primary);
        color: var(--text-primary);
        background-color: transparent;
        resize: none;
      "
    ></textarea>

    {% include button.html text= "Envia tus datos" %}
  </div>
</form>