<nav>
  <div class="main-menu">
    <a href="#" class="logo">
      <img src="{{ 'img/since-logo.avif' | relative_url }}" width="180" height="59" alt="Since Logo">
    </a>
    
    <input type="checkbox" id="nav-toggle">
    <label for="nav-toggle" class="icono-nav">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </label>

    <ul class="navegacion">
      <li class="has-submenu">
        <a href="{{ '/servicios' | relative_url }}" class="toggle-arrow">
          Servicios
          <svg aria-hidden="true" class="arrow-icon" width="12" height="12" viewBox="0 0 12 12">
            <path d="M2 4l4 4 4-4"/>
          </svg>
        </a>
        <div class="submenu-wrapper">
          <ul class="submenu">
            <li><a href="{{ '/servicios/marketing-digital' | relative_url }}">Marketing digital</a></li>
            <li><a href="{{ 'servicios/redes-sociales' | relative_url }}">Redes sociales</a></li>
            <li><a href="{{ 'servicios/seo' | relative_url }}">SEO</a></li>
            <li><a href="{{ 'servicios/paginas-web' | relative_url }}">Páginas web</a></li>
            <li><a href="{{ 'servicios/publicidad-digital' | relative_url }}">Publicidad digital</a></li>
            <li><a href="{{ 'servicios/diseno-grafico' | relative_url }}">Diseño gráfico</a></li>
            <li><a href="{{ 'servicios/gerencia-marketing' | relative_url }}">Gerencia marketing</a></li>
          </ul>
        </div>
      </li>

      <li class="has-submenu">
        <a href="#" class="toggle-arrow">
          Nosotros
          
        </a>
        <div class="submenu-wrapper">
          <ul class="submenu">
            <li><a href="#">Servicio 1</a></li>
            <li><a href="#">Servicio 2</a></li>
            <li><a href="#">Servicio 3</a></li>
          </ul>
        </div>
      </li>
      <li class="has-submenu">
        <a href="#" class="toggle-arrow">
          Información
          
        </a>
        <div class="submenu-wrapper">
          <ul class="submenu">
            <li><a href="#">Servicio 1</a></li>
            <li><a href="#">Servicio 2</a></li>
            <li><a href="#">Servicio 3</a></li>
          </ul>
        </div>
      </li>
      <li class="has-submenu">
        <a href="#" class="toggle-arrow">
          Contacto
          
        </a>
        <div class="submenu-wrapper">
          <ul class="submenu">
            <li><a href="#">Servicio 1</a></li>
            <li><a href="#">Servicio 2</a></li>
            <li><a href="#">Servicio 3</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>