<nav>
  <div class="main-menu">
    <a href="#" class="logo">
      <img src="{{ 'img/since-logo.avif' | relative_url }}" width="180" height="59" alt="Since Logo">
    </a>
    
    <input type="checkbox" id="nav-toggle">
    <label for="nav-toggle" class="icono-nav">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </label>

    <ul class="navegacion">
      <li class="has-submenu">
        <a href="#" class="toggle-arrow">
          Servicios
          
        </a>
        <div class="submenu-wrapper">
          <ul class="submenu">
            <li><a href="#">Marketing digital</a></li>
            <li><a href="#">Redes sociales</a></li>
            <li><a href="#">SEO</a></li>
            <li><a href="#">Páginas web</a></li>
            <li><a href="#">Publicidad digital</a></li>
            <li><a href="#">Diseño gráfico</a></li>
            <li><a href="#">Gerencia marketing</a></li>
            

          </ul>
        </div>
      </li>
      <li class="has-submenu">
        <a href="#" class="toggle-arrow">
          Nosotros
          
        </a>
        <div class="submenu-wrapper">
          <ul class="submenu">
            <li><a href="#">Servicio 1</a></li>
            <li><a href="#">Servicio 2</a></li>
            <li><a href="#">Servicio 3</a></li>
          </ul>
        </div>
      </li>
      <li class="has-submenu">
        <a href="#" class="toggle-arrow">
          Información
          
        </a>
        <div class="submenu-wrapper">
          <ul class="submenu">
            <li><a href="#">Servicio 1</a></li>
            <li><a href="#">Servicio 2</a></li>
            <li><a href="#">Servicio 3</a></li>
          </ul>
        </div>
      </li>
      <li class="has-submenu">
        <a href="#" class="toggle-arrow">
          Contacto
          
        </a>
        <div class="submenu-wrapper">
          <ul class="submenu">
            <li><a href="#">Servicio 1</a></li>
            <li><a href="#">Servicio 2</a></li>
            <li><a href="#">Servicio 3</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>