
<section class="section wrapper">
  <small>{{ include.subtitle }}</small>
  <h2>{{ include.title }}</h2>
</section>

<section class="testimonials">
  <div class="wrapper">
    {% assign testimonials = include.testimonials | split: ';;' %}
    {% for testimonial in testimonials %}
      {% assign data = testimonial | split: '|' %}
      <div class="testimonial-card">
        <div class="profile">
          <img src="{{ data[0] | relative_url }}" width="80" height="80" alt="{{ data[1] }}">
          <div>
            <h3>{{ data[1] }}</h3>
            <span>{{ data[2] }}</span>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="-72 -72 1344 1344" fill="#e7e7e7"
            stroke="#e7e7e7" stroke-width="0.012">
            <path d="M681.526,1094.657c212.643-14.942,518.306-48.892,518.474-465.344v-523.97H725.496v560.61h157.559c9.98,149.693-113.285,188.346-247.329,218.017L681.526,1094.657z M45.802,1094.657c212.644-14.942,518.307-48.894,518.474-465.344v-523.97H89.77v560.61h157.559C257.311,815.647,134.044,854.3,0,883.971L45.802,1094.657L45.802,1094.657z" />
          </svg>
        </div>
        <div class="stars">★★★★★</div>
        <p>{{ data[3] }}</p>
      </div>
    {% endfor %}
  </div>
</section>