<section class="testimonios">
  <div class="tarjetas-wrapper">
    <div class="tarjeta-testimonio">
      <div class="header-testimonio">
        <div class="logo-rating">
          <img src="{{ 'img/since-icon.avif' | relative_url }}" alt="Since Logo" class="logo" width="40" height="40">
          <div class="estrellas">★★★★★</div>
        </div>
      </div>
      <h3>Sección de testimonios</h3>
      <img src="{{ 'img/team-since-marketin-digital.avif' | relative_url }}" alt="Testimonio 1" class="imagen-testimonio" width="180" height="180">
    </div>

    <div class="tarjeta-testimonio">
      <div class="header-testimonio two_columns">
        <div class="logo-rating">
          <img src="{{ 'img/since-icon.avif' | relative_url }}" alt="Since Logo" class="logo" width="40" height="40">
          <div class="estrellas">★★★★★</div>
        </div>
      </div>
      <h3>Sección de testimonios</h3>
      <img src="{{ 'img/team-since-marketin-digital.avif' | relative_url }}" alt="Testimonio 2" class="imagen-testimonio" width="180" height="180">
    </div>
  </div>
</section>